# Loops

In [1]:
for item in ["red", "blue", "green"]:
    print(item)

red
blue
green

##### Creating a range of numbers

In [2]:
range(10)

range(0, 10)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(10, 20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
list(range(10, 100, 5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [7]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##### Using for loop to print multiplication table

In [8]:
print('5', ' X ', '1', ' = ', (5*1))

5  X  1  =  5

In [9]:
for i in range(1, 11):
	print('5', ' X ', i, ' = ', (5*i))

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

##### Using for loop with a dictionary

In [10]:
D = {'name':'Anil', 'age':35, 'company':'Oracle', 'country':'India'}

In [12]:
for item in D.items():
    print(item)

('name', 'Anil')
('age', 35)
('company', 'Oracle')
('country', 'India')

In [13]:
D.items()

dict_items([('name', 'Anil'), ('age', 35), ('company', 'Oracle'), ('country', 'India')])

In [11]:
for k, v in D.items():
	print(k.rjust(8), ' | ', str(v).ljust(8))

    name  |  Anil
     age  |  35
 company  |  Oracle
 country  |  India

##### Loop Control Statements

In [14]:
for i in range(1, 11):
	print('5', ' X ', i, ' = ', (5*i))
	if(i == 5):
		break;

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25

In [15]:
for i in range(1, 11):
	if(i % 3 == 0):
		continue
	print('5', ' X ', i, ' = ', (5*i))

5  X  1  =  5
5  X  2  =  10
5  X  4  =  20
5  X  5  =  25
5  X  7  =  35
5  X  8  =  40
5  X  10  =  50

##### While loop

In [16]:
i = 1
while i <= 10:
	print('5', ' X ', i, ' = ', (5*i))
	i += 1

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50